@charset "UTF-8";
/* CSS Document */
.healthCalculator {
    width: 30em;
    height: 30em;
    margin: auto;
    margin-top: 6rem;
}
.healthTitle{
  margin-bottom:5em;
    }
h1{
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
  margin-top: 16px;
}
h2{
  color: rgb(77, 77, 77);
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: -3px;
  margin-top: 1em;
  text-align: center;
}
.question > span{
  display:inline-block;
  margin: auto;
  width: 100%;
  color:white;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
body{
  background: #D0D0D0;
}
section {
  padding: 2%;
  background: white;
  margin-bottom:2rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
/* New Circle Style */
.container {
  position:relative;
  width: 100%;
  height: 100%; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/    
  background-color: rgb(58, 58, 58);
  border-radius: 50%; 
  margin: auto;    
  transition: 0.2s ease-out;
  transform: scale(0);
  z-index: 1;
}
section {
  display:block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.4s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin: -3.5em; /* 2em = 4em/2 */ /* half the width */
  z-index: 3;
}
section:hover {
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);    
}
section:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}
.questionNumber {
  width: 20%;
  margin: auto;
  color: rgb(253, 70, 70);
  top: 1px;
  left: 40%;
  margin-bottom: -10px;
  position: absolute;
  font-size: 89%;
}
.selectors{
  transition: 0.2s ease-out;
  position: absolute;
  transform: scale(0);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.deg1 {
transform: rotate(-450deg) rotate(450deg) scale(1);
top: -5%;
}
.deg2 {
transform: rotate(-328deg) rotate(328deg) scale(0.7);
top: 70%;
left: 95%;
}
.deg3 {
transform: rotate(-210deg) rotate(210deg) scale(0.7);
left: 5%;
top: 70%;
}
.submit {
  z-index: 2;
  position: relative;
  width: 70%;
  margin: auto;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  transition: 0.1s ease-out;
  transform:scale(0);
  top: 1%;
}
.resultsContainer .submit{
  transform: scale(1);
  top: 7em;
  width: 100%;
  height: 3.2em;
}
.submit:hover {
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);   
  top: 1.5%;
}
.submit:active {
    box-shadow: 0 0 0 rgba(0,0,0,0.5);
    background-color: rgb(219, 54, 66);
}
.icon img {
    width: 100%;
}
.icon {
    width: 40%;
    margin: auto;
    position: relative;
}
/* End New Style */
.line{
    width: 120%;
    position: relative;
    left: -7%;
    height: 1px;
    background: rgb(77, 77, 77);
    margin-bottom: 2%;
}
.question{
    width: 24%;
    height: 100%;
    padding: 1%;
    display: inline-block;    
    vertical-align: top;
    flex: 1;
    /* margin-right: 3%; */
    /* margin-left: 1%; */
}
.question:nth-of-type(4) {
    margin-right: 0;
}
.question p {
  display: inline-block;
  text-align: center;
  color: white;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 15px;
}
input {
  width: 92%;
  border: none;
  display: block;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
  height: 40px;
  font-size: 20px;
  padding-left: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
select {
  text-align: left;
  font-size: 0.9em;
  height: 31px;
  font-family: 'Roboto', sans-serif;
  width: 93%;   
  margin-left: 2%;  
  border: none;   
  display: block;         
  padding-left: 5%;      
  font-weight: 300;
}
#question3 select, #exerL select{
  font-size: 0.9em;
  font-weight: 100;
  width: auto;
  height: 30px;
  display: block;
  float: right;
  background-color: white;
  position: relative;
  top: -35px;
  right: 5%;
  border: none;
  box-sizing: inherit;
  margin-bottom: -20px;
}
.blockage {
  height: 98%;
  width: 10%;
  position: relative;
  margin: auto;
  top: 1%;
  background-color: rgb(58, 58, 58);
  /* background-color: red; */
  -webkit-animation-name: rotate;     
  -webkit-animation-duration: 40s; 
  -webkit-animation-iteration-count: infinite;    
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 80s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  }
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
.blockageSmall{
    background-color: rgb(58, 58, 58);
    /* background-color: blue; */
    width: 6%;
    height: 90%;
    top: -93%;
    position: relative;
    margin: auto;
    -webkit-animation-name: rotate; 
    
    -webkit-animation-duration: 80s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateSmall; 
    -moz-animation-duration: 40s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotateSmall {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotateSmall {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
.circlePulse{
  width: 95%;
  height: 95%;
  position: absolute;
  margin-left: 2.5%;
  margin-top: 2.5%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transform: scale(0);
  transition: 0.3s ease-out;
}
.circlePulseSmall{
  width: 90%;
  height: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 50%;
  /* border: solid rgb(60, 133, 244) 3px; */
  transition: 0.3s ease-out;
  transform: scale(0);
  background-color: rgb(60, 133, 244);
}
.questionBackground{
  width: 88%;
  height: 88%;
  position: absolute;
  margin-left: 6%;
  margin-top: 6%;
  border-radius: 50%;
  /* border: solid rgb(60, 133, 244) 3px; */
  transition: 0.3s ease-out;
  transform: scale(0);
  background-color: rgb(58, 58, 58);
}
#exerL select{
    width:auto;
}
.hidden{
    position: relative;
    opacity:1;
    width: 88%;
    margin: auto;
    height: auto;
    padding: 4%;
    padding-top: 0;
    left: 0%;
    top: -0.4em;
    transition: 0.2s;
}
#exerD{
    opacity:1;
    left: 0;
    position: relative;
}
.getResults p, .moreResults button p{
    font-size: 160%;   
    position: relative;
    top: -1px;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;   font-weight: 100;
}
button.getResults, .moreResults button {
    width: 100%;
    height: 45px;
    display: block;
    border: none;
    background-color: rgb(245, 89, 100);
    cursor: pointer;
}
.moreResults{
  position: absolute;
  width: 100%;
  top: 86%;
}
.sportResults .moreResults{
  top: -6em;
  position: absolute;
}
button.getResults:active .moreResults button:active {
    background-color: rgb(219, 54, 66);
}
.infoBox {
  /* max-height: 2em; */
  min-height: 4em;
  width: 90%;
  margin: auto;
  position: relative;
  top: 2%;
}
.infoBox p {     color: white; font-family: 'Roboto'; 
  font-weight: 400; 
       font-size: 0.9em;
       text-align: left;
  width: 100%;
  padding: 0;
       margin: 0;
}
.questionBox {
    width: 65%;
    height: 56%;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 13%;
}
.questionContainer {
    width: 330%;
    height: 100%;
    left: -6%;
    /*transform: translateX(-65%);*/
    transition: 0.2s ease-out;
    position: absolute;
    opacity: 0;
    z-index:0;
    display: flex;
    flex-direction: row;
}
#question1{
    opacity:1;
    z-index:1;
}
#question2 h4, .hidden h4 {
font-size: 95%;
margin-bottom: 5px;
}
.hidden h4 {
margin-top:0;
}
input[type="radio"] {
    width: auto;
    display: block;
    left: 30%;
    position: relative;
    box-shadow: none;
}

.radio {
    display: inline-block;
    margin: auto;
}
#question2 .radio {
    position: relative;
    left: -5%;
}
.radio p {
    display: block;
    margin: 0;
    font-weight: 100;
    font-size: 1.3em;
}
.buttonContainer {
    width: 59%;
    position: relative;
    margin: auto;
    margin-top: 20%;
    z-index: 1;
}
.buttonContainer button {
    width: 45%;
    display: inline-block;
    background: rgb(253, 70, 70);
    border: none;
    color: white;
    cursor:pointer;
    transition:0.2s;
    font-size: 1.1em;
    border-radius: 5px;
}
.buttonContainer button:focus {
    outline: none;
}
.buttonContainer button:hover {
   box-shadow:1px 1px 1px rgba(0,0,0,0.5);
   top: 0;
   position: relative;
}
.buttonContainer button:active {
    box-shadow: none; 
    top: 0;
    background: rgb(207, 27, 27);
}
.breadcrumbContainer {
    width: 20%;
    height: 1em;
    position: relative;
    margin: auto;
    z-index: 2;
}
.breadcrumb {
    background: white;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    margin-right: 19%;
    cursor:pointer;
}
#breadcrumb3 {
    margin-right: 0;
}
.progressContainer {
    position: absolute;
    top: 6em;
    left: 40%;
    height: 1em;
    width: 2em;
}

.progressDot {
    background-color: rgb(226, 226, 226);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
}
.circlePulseContainer {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-out;
    transform: scale(1);
}
.resultsContainer {     
    background-color: rgb(244, 244, 244);   
    overflow: hidden;
    position: relative;   width: 100%;   height: 100%;      
    top: -100%;
    border-radius: 50%;   margin: auto;   transition: 0.2s ease-out;   transform: scale(0);   z-index: 1;
}
.resultTitle {
font-size: 1.5em;  
font-family: 'Roboto', sans-serif;
font-weight: 100;
text-align: center;
margin: 0;
display: block;
margin-top: 2%;
}
.results {
    width: 100%;
    height: 50%;
    position: relative;
    margin: auto;
    transition: 0.3s;
}
.resultIntro {
    text-align: center;
    font-size: 1.2em;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    width: 80%;
    margin: auto;
}
.resultText {
    text-align: center;
    font-size: 1em;   font-family: 'Roboto', sans-serif;   font-weight: 100;         
    margin: 0;
    display: block;
    width: 80%;
    margin:auto;
    margin-top: 1%;
}
.result {
    font-size: 131%;
    color: rgb(240, 106, 106);
}
.radioContainer {
    width: 100%;
    display: flex;
}
.foodPic, .sportPic {
    display: block;
    position: absolute;
    top: 45%;
    height: 40%;
    width: 100%;
    margin: auto;
}
.foodPic img, .sportPic img{
    height: 100%;
    width: auto;
    margin: auto;
    display: block;
    transition: 0.4s ease-out;
      transform: translateX(20em);
}
.resultToQuestions button {
    height: 100%;
    background-color: rgb(89, 132, 245);
    width: 100%;   
    height: 100%;   display: block;   border: none;
    cursor: pointer;
}
.resultsContainer .submit:hover {
    top: 6.9em;
}
.resultToQuestions {
    /* position: absolute; */
    left: 0;
    width: 100%;
    height: 7%;
    opacity: 0.3;
    transition: all 0.2s ease 0s;
}
.resultToQuestions p {
    font-size: 100%;
    color: white;
    margin: 0;
}
.resultToQuestions:hover, .moreResults:hover {
    opacity: 1;
}
.resultToQuestions button:active {
    background-color: rgb(29, 76, 199);
}
.loaderContainer {
  /* width: 100%; */
  /* height: 100%; */
  background-color: #FFF;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
  /* border-radius: 50%; */
  /* overflow: hidden; */
  /* opacity: 1; */
  /* transition: all 0.2s ease 0s; */
  transform: scale(0);
  /* position: relative; */
  /* margin: auto; */
  /* z-index: 3; */
  position: relative;   width: 100%;   height: 100%;      border-radius: 50%;   margin: auto;   transition: 0.2s ease-out;      
  z-index: 3;
  top: -200%;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #DE3D3D;
  top: 20%;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0 5.1em;
  transform-origin: 0 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loaderContainer p {
        color: rgb(77, 77, 77);
font-size: 1em;
font-family: 'Roboto', sans-serif;
font-weight: 400;
margin-bottom: -3px;
    
        margin-top: 31%;
text-align: center;
}
.shareResults {
    position: absolute;
    width: 15em;
    height: 13em;
    background-color: rgb(247, 247, 247);
    right: 28%;
    top: 6.1em;
    z-index: 0;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transition: 0.2s;
    opacity: 0.7;
    cursor: pointer;
    /* display: none; */
}
.shareResults h2 {
    font-size: 1.1em;
    font-weight: 500;
    float: right;
    margin-right: 0%;
    margin-top: 6%;
    transform: rotate(45deg);
}
.shareResults:hover {
    right: 17%;
    opacity: 1;
}
/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.socialIcon {
    float: none;
    display: inline-block;
    width: 19%;
    margin: auto;
    position: relative;
    top: 2em;
    /* left: 71%; */
    transform: scale(0.8);
}
/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
  color: white;
}
.nextResults {
    position: absolute;
    background: rgb(240, 108, 108);
    height: 2em;
    width: 2em;
    border-radius: 50%;
    color: white;
    left: 74%;
    cursor: pointer;
}
.shareResults:active {
    z-index: 3;
    height: 21em;
    right: 27%;
    width: 44%;
    opacity: 1;
}
.nextResults p {
    display: block;
    margin: 0;
    text-align: center;
    position: relative;
    top: 0.3em;
}
.sportResults {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 217%;
}
.sportResults .resultIntro{
  /* font-size: 1em; */
}
.sportInfo {
    font-size: 0.7em;    
    width: 50%;
    text-align: center;
}
.resultSlider {
    position: absolute;
    transition: 0.2s;
    height: 200%;
}
@media screen and (max-width: 600px){
  html {
  font-size: 80%;
  }
  .loaderContainer{
    top:1.5em;
  }
  .resultText {
    font-size: 0.8em;   font-family: 'Roboto', sans-serif;   font-weight: 100;  
    position: relative;
}
  .resultsContainer {
  width: 16em;
  height: 16em;
  margin-top:-22.5em;
}
.loaderContainer {
    top: 3.3em;
  }
  .resultToQuestions {
    top: -6em;
    height: 1em;
}
.resultToQuestions p {
    top: 2px;
    font-size: 90%;
}
.moreResults {
    top: 96%;
}
.results {
    height: 100%;
}
button.getResults, .moreResults button {
    height: 27px;
}
.getResults p, .moreResults button p {
    font-size: 100%;
}
.sportResults {
    top: 7.5em;
}
.sportPic {
    top: -2em;
    position: relative;
}
.sportResults .resultIntro {
    font-size: 87%;
     top: -3em;
}
.sportResults .resultText{
     top: -3em;
}
#question3 select {
    width: 26%;
    top: -2.5em;
}
#exerL select {
    width: 55%;
    top: -2.5em;
}
}